 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 893px;
}

.u-section-1 .u-group-1 {
  width: 534px;
  min-height: 163px;
  background-image: none;
  margin: 60px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 15px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 945px;
  margin: 30px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 590px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 590px;
  background-image: url("images/Havana-Tour-in-vintage-Car-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-1 .u-group-1 {
    min-height: 143px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-1 .u-image-1 {
    min-height: 587px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 450px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 675px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 3px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 425px;
  }
} .u-section-2 {
  min-height: 730px;
  background-image: none;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 730px;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 90px 50px 45px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 1px;
  line-height: 1.1;
  font-size: 4.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 110px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

.u-section-2 .u-image-1 {
  min-height: 730px;
  background-image: url("images/pexels-photo-78659771.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 688px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 688px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 527px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 404px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 404px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 749px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 649px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 509px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 409px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1394px;
}

.u-section-3 .u-gallery-1 {
  height: 1126px;
  grid-gap: 17px;
  margin: 60px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-1 {
  width: 542px;
  margin: 30px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1196px;
  }

  .u-section-3 .u-gallery-1 {
    height: 928px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2045px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1777px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 5066px;
  }

  .u-section-3 .u-gallery-1 {
    height: 4798px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-btn-1 {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3289px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3021px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 168px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-4 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-4 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-4 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-4 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-4 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-4 .u-icon-4 {
  height: 100%;
  color: rgb(220, 78, 65) !important;
}

.u-section-4 .u-icon-5 {
  height: 100%;
  color: rgb(218, 31, 50) !important;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 64px;
  }
}