.u-section-1 .u-sheet-1 {
  min-height: 8151px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: bold;
  letter-spacing: normal;
  margin: 64px -45px 0 115px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 18px 176px 0 132px;
}

.u-section-1 .u-text-3 {
  margin: 18px 176px 60px 132px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 76px;
    margin-left: 32px;
    width: 832px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 32px;
    margin-right: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 172px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 23227px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }
}