.u-section-1 .u-sheet-1 {
  min-height: 690px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  min-height: 690px;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-bottom: 10px;
    min-height: 1767px;
    margin-top: -878px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1620px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-bottom: 0;
    min-height: 1620px;
    margin-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 168px;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 278px;
  min-width: 120px;
  margin: 36px 405px 60px auto;
}

.u-section-2 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(218, 31, 50) !important;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(220, 78, 65) !important;
}

.u-section-2 .u-icon-5 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-social-icons-1 {
    width: 280px;
    margin-right: 316px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-2 .u-social-icons-1 {
    margin: 34px 266px 37px 174px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-social-icons-1 {
    margin-top: 44px;
    margin-right: 110px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-social-icons-1 {
    margin-top: 60px;
  }
}